{% extends "base.html" %}
{% block title %} Éditer un utilisateur {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Éditer un client</h3>
      <form action="" method="POST" novalidate>
        {{ form_update_film.hidden_tag() }}

        <div class="form-group mb-3">
          <label for="{{ form_update_film.nom_client_update_wtf.id }}">Nom</label>
          {{ form_update_film.nom_client_update_wtf(class="form-control", size=50) }}
          {% for error in form_update_film.nom_client_update_wtf.errors %}
            <small class="text-danger">[{{ error }}]</small>
          {% endfor %}
        </div>

        <div class="form-group mb-3">
          <label for="{{ form_update_film.prenom_client_update_wtf.id }}">Prénom</label>
          {{ form_update_film.prenom_client_update_wtf(class="form-control", size=50) }}
          {% for error in form_update_film.prenom_client_update_wtf.errors %}
            <small class="text-danger">[{{ error }}]</small>
          {% endfor %}
        </div>

        <div class="form-group mb-3">
          <label for="{{ form_update_film.email_client_update_wtf.id }}">Email</label>
          {{ form_update_film.email_client_update_wtf(class="form-control", size=50) }}
          {% for error in form_update_film.email_client_update_wtf.errors %}
            <small class="text-danger">[{{ error }}]</small>
          {% endfor %}
        </div>

        <div class="form-group mb-3">
          <label for="{{ form_update_film.entreprise_client_update_wtf.id }}">Entreprise</label>
          {{ form_update_film.entreprise_client_update_wtf(class="form-control", size=50) }}
          {% for error in form_update_film.entreprise_client_update_wtf.errors %}
            <small class="text-danger">[{{ error }}]</small>
          {% endfor %}
        </div>

        <div class="form-group mb-3">
          <label for="{{ form_update_film.telephone_client_update_wtf.id }}">Téléphone</label>
          {{ form_update_film.telephone_client_update_wtf(class="form-control", size=20) }}
          {% for error in form_update_film.telephone_client_update_wtf.errors %}
            <small class="text-danger">[{{ error }}]</small>
          {% endfor %}
        </div>

        {{ form_update_film.submit(class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
