{% extends "base.html" %}
{% block title %} Effacer un CLIENT (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer un CLIENT
			</p>
			<table class="table table-responsive-sm">
				{% if data_film_del %}
				<thead>
				<tr>
					<th class="">
						Id
					</th>
					<th class="">
						Nom
					</th>
					<th class="">
						Prénom
					</th>
					<th class="">
						Email
					</th>
                    <th class="">
                        Entreprise
                    </th>
                    <th class="">
                        Téléphone
                    </th>
				</tr>
				</thead>
				{% endif %}
				{% for row in data_film_del %}
				<tbody>
				<tr>
					<th class="align-middle">
						{{ row.id_client }}
					</th>
					<th class="align-middle">
						{{ row.nom }}
					</th>
					<th class="align-middle">
						{{ row.prenom }}
					</th>
					<th class="align-middle">
						{{ row.email }}
					</th>
                    <th class="align-middle">
                        {{ row.entreprise }}
                    </th>
                    <th class="align-middle">
                        {{ row.telephone }}
                    </th>
				</tr>
				</tbody>
				{% else %}
				<tbody>
				<tr>
					<td colspan="6">Aucun client trouvé.</td>
				</tr>
				</tbody>
				{% endfor %}
			</table>

			<form action="" method="POST" novalidate>
				<!-- Protection CSRF -->
				{{ form_delete_film.hidden_tag() }}
				{{ form_delete_film.submit_btn_conf_del_film(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete_film.submit_btn_del_film(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete_film.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}
