{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 style="margin-top: 100px;">
				 <center>Gestion de la documentations des clients<br></center>
			</h3>
			<h5 style="margin-top: 100px;">
				 <center>Bienvenu sur le site de la gestion de la documentations des clients <br></center>
				 
			</h5>
			<center><p>Par Erick Cojan</p></center>
		</div>
	</div>
</div>
{% endblock %}
