{% extends "base.html" %}
{% block title %} Editer une doc (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Editer une doc
            </p>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form_update.hidden_tag() }}

                <div class="form-group">
                    <p>
                        {{ form_update.titre.label }}<br>
                        {{ form_update.titre(size=32) }}<br>
                        {% for error in form_update.titre.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form_update.contenu.label }}<br>
                        {{ form_update.contenu(rows=4, cols=50) }}<br>
                        {% for error in form_update.contenu.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form_update.date_ajout.label }}<br>
                        {{ form_update.date_ajout(size=32) }}<br>
                        {% for error in form_update.date_ajout.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>

                {{ form_update.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
